
.vartica-info {
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.title-areas{
    font-size: 55px;
    line-height: 70px;
    color: #58d3d8;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    
}

.vartica-areas .parrafo-areas{
    padding: 20px;
    font-size: 22px;
    color: #fff;
    text-align: center;

}

.areas-meta{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
}
h2 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #ddfff2;
    margin-bottom: 15px;
    text-align: justify;
}


.card:hover .info {
    opacity: 1;
}

.txt-areas{
    font-family: 'Zen dots';
    font-size: 18px;
    
}