
.footer {
    margin-top: 100px;
    border-top: 1px solid #ffffff29;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background-color: #363c4e;
    border-radius: 15px;

}

.footer h3 {
    font-family: 'Zen dots';

    margin: 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
}

.links ul {
    display: flex;
}

.links ul li {
    margin-right: 35px;
}

.links ul li a {
    color: #818181;
}
.links ul li a:hover {
    color: #fff;
}