.content {

    justify-content: center;
    align-self: center;
}
.unity-wrapper {
  width: 90%;
  max-width: 1000px;
  height: 600px;
  margin: 400px auto;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.2);
  background-color: #111a23;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.unity-wrapper canvas {
  display: block !important;
  margin: 0 auto !important;
  position: relative !important;
  left: 0 !important;
  right: 0 !important;
}

.loading-text {
  color: white;
  font-size: 18px;
}

.unity-wrapper {
    width: 90%;
  max-width: 1000px;
  height: 600px;
    margin: 40px auto;
     border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.2);
  background-color: #5e9fdf;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loading-text {
  color: white;
  font-size: 18px;
}
