.container-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-animado{
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 18px;
    background-color: inherit;
    border-radius: 80px;
    font-weight: 600px;
    color: #ffffff;
    box-shadow: 0 0 0 2px #08ffea20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.btn-animado span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.btn-animado span:first-child {
    position: relative;
    z-index: 1;
}

.btn-animado span:first-child {
    position: relative;
    z-index: 1;
}
  
.btn-animado:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
}

.btn-animado:active {
    scale: 0.95;
}

.btn-animado:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

.vartica-info{
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.container-1{
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;

}

.container-2{
    width: 50%;
}

.img-meta{
    width: 500px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    border: 5px solid transparent;
    border-image: linear-gradient(90deg, #1a1b1b, #52d3d8, #1a1b1b) 1;
}


.img-meta:hover {
    transform: scale(1.05); /* Se escala ligeramente dentro de su propio tamaño */
    filter: brightness(1.2); /* Aumenta un 20% el brillo */
}

.container-1 h2 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}


.container-1 p {
    font-size: 18px;
    color: #ddfff2;
    margin-bottom: 15px;
    text-align: justify;
}